body {
    font-family: Arial, sans-serif;
    background-color: #d6c8b4;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
    font-family: david;
}


p {
    font-size: 18px;
}



h5 {
    color: #C0AD92;
}

h2 {
    color: #C0AD92;
    margin-bottom: 25px;
}


span {
    font-size: 18px;
}


.container {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}


.container:hover {
    box-shadow: 0 0 10px #a38d6d;
}

.col-md-6 {
    background-color: #fff;
}


.col-md-6
.section-title {
    text-transform: uppercase;
    margin-top: 180px;
    font-size: 70px;
    text-align: center;
}

.col-md-6
.text {
    font-size: 20px;
    text-align: center;
}

.header {
    background:  #867966
    padding: 10px 0;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.contents {
    padding: 20px;
    transition: border-color 0.3s ease;
}

.section {
    margin-bottom: 30px;
}


.section-title {
    font-size: 24px;
    text-transform: uppercase;
}

.stepper {
    display: flex;
    align-items: center;
}


.label {
    margin-right: 1px;
}


.flex {
    display: flex;
    align-items: center;
}


.stepper-minus,
.stepper-plus {
    padding: 8px 1opx; 
}


.span.label {
    margin-right: 20px;
}


.step
.text {
    text-align: left;
    font-size: 34;
}

.download {
    color: #333;
}

.download-link {
    color: #C0AD92;
    
}

.download-link:hover {
    color: #8f816d;
    
}

.size {
    width: 300px;
    height: 370px;
}

.spacer {
    margin-bottom: 30px; 
}