body {
    font-family: Arial, sans-serif;
    background-color: #d6c8b4
    ;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
    font-family: david;
}


p {
    font-size: 18px;
}


span {
    font-size: 18px;
}


.container {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
   
}
.col-md-6 {
    background-color: #fff;
}


.col-md-6
.section-title {
    text-transform: uppercase;
    margin-top: 180px;
    font-size: 70px;
    text-align: center;
}


.col-md-6
.text {
    font-size: 20px;
    text-align: center;
}


h2 {
    color: #d6c8b4;
}


h2 {
    color: #d6c8b4;
   ;
}


.header {
    background:  #867966
    padding: 10px 0;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header a.navbar-brand {
    color: #333;
}

.header a.navbar-brand:hover,
.header .nav-link:hover {
    color: #a56a17;
}


.contents {
    background-color: #f0f0f0;
    border-left: 5px solid #ff6b81; 
    padding: 20px;
    transition: border-color 0.3s ease;
}


.contents-list {
    list-style: none;
    padding: 0;
}


.contents-list li {
    margin-bottom: 10px;
}


.contents-list a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}


.contents-list a:hover {
    color: #ff6b81;
}


.about .profile-image {
    max-width: 100%;
    position: left;
   
}


.section {
    margin-bottom: 30px;
}


.section-title {
    font-size: 24px;
    text-transform: uppercase;
}


.section-image {
    max-width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}


.section-image:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}


.stepper {
    display: flex;
    align-items: center;
}


.label {
    margin-right: 1px;
}


.flex {
    display: flex;
    align-items: center;
}


.stepper-minus,
.stepper-plus {
    padding: 8px 1opx; 
}


.span.label {
    margin-right: 20px;
}


.impressum {
    background: linear-gradient(90deg, #af9f8a, #af9f8a);
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #97b4c7;
    transition: box-shadow 0.3s ease, background 0.3s ease;
}


.impressum p {
    margin: 0;
    color: #333;
}


.container:hover,
.contents:hover,
.about:hover,
.section:hover,
.impressum:hover {
    background-color: #ffffff; 
    box-shadow: 0 10px 20px #948571;
    color: #333;
}


.container,
.contents,
.about,
.section,
.impressum {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.step
.text {
    text-align: left;
}


.step
.img {
    align-items: right;
}

.download {
    color: #ff6b81;
}