body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
}

.container {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

#home .container {
    overflow: hidden; /* Clearfix, um Floats zu behandeln */
}

#home .image {
    float: left;
    max-width: 100%; 
    margin-right: 20px; 
    width: 200px;


#home .text {
    margin-left: 45%; 
    align: right;
}


h2 {
    color: #97b4c7; 
}

.header {
    background: linear-gradient(90deg, #97b4c7, #637ea1); 
    padding: 10px 0;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header a.navbar-brand,
.header .nav-link {
    color: #97b4c7;
}

.header a.navbar-brand:hover,
.header .nav-link:hover {
    color: #97b4c7;
}

.contents {
    background-color: #ffffff;
    border-left: 5px solid #97b4c7; 
    padding: 20px;
    transition: border-color 0.3s ease;
}

.contents-title {
    color: #97b4c7;
}

.contents-list {
    list-style: none;
    padding: 0;
}

.contents-list li {
    margin-bottom: 10px;
}

.contents-list a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contents-list a:hover {
    color: #97b4c7;
}

.about .profile-image {
    max-width: 3%;
    border: 5px solid #97b4c7; 
    border-radius: 50%;
    transition: border-color 0.3s ease;
}


.section {
    margin-bottom: 30px;
}

.section-title {
    font-size: 24px;
    text-transform: uppercase;
}


.section-image:hover {
    box-shadow: 0 10px 20px #ffffff;
    transform: scale(1.02);
}

.imprint {
    background: linear-gradient(90deg, #97b4c7, #637ea1);
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #97b4c7;
    transition: box-shadow 0.3s ease, background 0.3s ease;
}

.imprint p {
    margin: 0;
    color: #333;
}

.container:hover,
.contents:hover,
.about:hover,
.section:hover,
.imprint:hover {
    background-color: #ffffff; 
    box-shadow: 0 10px 20px #97b4c7;
    color: #333;
}

.container,
.contents,
.about,
.section,
.imprint {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}